<div class="page" id="site-intro">
	<p>
		<strong>Games Without Bait</strong> is a project that tries to bring more
		clarity and transparency about video games pricing models to help the
		consumers make a more enlightened decision before buying a game.
	</p>
	<p>
		By providing tags and ratings for each games regarding their pricing models,
		we want to help users fight against predatory tactics that could make them
		develop gambling addiction or poor spending habits.
	</p>
	<p>
		Video games data and assets are sourced from <a href="https://igdb.com">IGDB</a>,
		tags and ratings are curated from reviews from our benevolant community.
</div>
