* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background: rgb(21,18,73);
	background: linear-gradient(0deg, rgba(21,18,73,1) 0%, rgba(32,32,32,1) 100%) fixed;
	color: white;
	font-family: 'Fredoka', sans-serif;
}

a, a:visited {
	cursor: pointer;
	color: #90ee02;
}

a:hover {
	color: #61d800;
	text-decoration: underline;
}

.page {
	max-width: 900px;
	padding: 0 2em;
	margin: auto;
}

[title] {
	text-decoration: underline dashed;
}

.material-icons {
	position: relative;
	top: .2em;
	margin: 0 .2em;
}

button, .button, .button:hover, .button:visited {
	display: inline-block;
	padding: .2em 1em;
	background: darkblue;
	transition: .4s;
	color: white;
	text-decoration: none;
}

button.admin, .button.admin {
	background: red;
}

button:hover, .button:hover {
	background: darkcyan;
}

.page-default h1 {
	text-align: center;
}

.spaced {
	margin-top: 4em;
}

#flash-messages {
	max-width: 600px;
	margin: auto;
	list-style: none;
}

#flash-messages li {
	margin: 1em;
	display: flex;
	background: rgba(0, 0, 0, .5);
	padding: .5em 1em;
	border: 1px solid gold;
}

#flash-messages .content {
	width: 100%;
}

#flash-messages .close {
	top: 0;
	cursor: pointer;
}

.pager {
	margin-top: 1em;
	text-align: center;
}

.pager a {
	margin-top: .5em;
	color: orange;
}
