.rating {
	background: gray;
}

.rating.clean {
	background: green;
}

.rating.danger {
	background: red;
}

.rating.meh {
	background: orange;
}

.rating-tags .tag.clean .icon {
	color: green;
}

.rating-tags .tag.meh .icon {
	color: orange;
}

.rating-tags .tag.danger .icon {
	color: red;
}
