#game-entry .title {
	text-align: center;
}

#game-entry .subtitle {
	display: block;
	color: lightgray;
}

#game-entry .content {
	display: flex;
}

#game-entry .art {
	height: 400px;
	width: 280px;
	object-fit: fill;
	border-radius: 10px;
	margin-right: 1em;
}

#game-entry .side {
	width: 100%;
}

#game-entry .side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


#game-entry .rating {
	margin: auto;
	text-align: center;
	font-size: large;
	max-width: 200px;
	padding: .5em 1em;
	border-radius: .5em;
}

#reviews {
	margin-top: 4em;
}

#reviews .review {
	display: flex;
	margin: 2em 0;
}

#reviews .meta {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 1em;
}

#reviews .profile {
	display: flex;
}

#reviews .avatar {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 1em;
	object-fit: contain;
}

#reviews .content {
	display: flex;
	justify-content: space-between;
}

#reviews .comment {
	padding: 0 1em;
}
