#game-entry .title {
	text-align: center;
}

#game-entry .subtitle {
	display: block;
	color: lightgray;
}

#game-entry .content {
	display: flex;
}

@media screen and (max-width: 600px) {
	#game-entry .content {
		flex-direction: column;
		align-items: center;
	}

	#game-entry .content > * {
		margin: 1em 0;
	}
}

#game-entry .art {
	height: 400px;
	width: 280px;
	object-fit: fill;
	border-radius: 10px;
	margin-right: 1em;
}

#game-entry .side {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#game-entry .side > * {
	margin: 1em 0;
}


#game-entry .rating {
	margin: auto;
	text-align: center;
	font-size: large;
	max-width: 200px;
	padding: .5em 1em;
	border-radius: .5em;
}

#reviews {
	margin-top: 4em;
}

#reviews .review {
	display: flex;
	margin: 2em 0;
	background: rgba(0, 0, 0, .5);
	padding: .6em;
}

#reviews .avatar {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-right: 1em;
	object-fit: contain;
}

#reviews .meta {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 1em;
}

#reviews .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width: 600px) {
	#reviews .review {
		flex-direction: column;
	}

	#reviews .review > * {
		margin: .6em 0;
	}
}

#reviews .comment {
	padding: 0 1em;
	margin-bottom: 1em;
}
