#site-intro {
	margin: 2em auto;
	font-size: 1.2em;
}

#main-search {
	padding-top: 10%;
	margin-bottom: 2em;
}

#main-search input {
	width: 100%;
	background: rgba(0, 0, 0, .3);
	border: none;
	font-size: 2em;
	border-radius: .2em;
	color: inherit;
	padding: .5em 1em;
}

#main-add {
	margin-top: 1em;
}

#main-submit {
	display: none;
}

#site-stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#site-stats .stat {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

#site-stats .value {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#page-title {
	margin: 2em 0 1em;
}

#game-entries {
	display: flex;
	flex-direction: column;
}

#game-entries a {
	color: unset;
	text-decoration: unset;
}

#game-entries .entry {
	position: relative;
	display: flex;
	overflow: hidden;
	box-shadow: 0 0 25px -5px rgba(200, 200, 200, .3);
	background: rgba(0, 0, 0, .3);
	border-radius: 1em;
	margin: 2em 0;
}

#game-entries .rating {
	position: absolute;
	/* right: -80px; */
	/* top: 10px; */
	right: -90px;
	top: 20px;
	transform: rotate(45deg);
	padding: .5em 100px;
}

#game-entries .art {
	margin-right: 1em;
	height: 100%;
	width: 256px;
	object-fit: contain;
}

#game-entries .title {
	font-size: x-large;
	margin-bottom: 1em;
}

#game-entries .subtitle {
	font-size: large;
	color: lightgray;
}

#game-entries .content {
	display: flex;
	flex-direction: column;
}

#game-entries .side {
	display: flex;
	flex-direction: column;
	padding: 1em;
	justify-content: space-between;
}

#game-entries .button {
	margin: 0 1em;
}
