#review-form .form-input {
	width: 100%;
	align-items: initial;
}

#review-form .tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

#review-form .tags .form-input {
	max-width: 240px;
	display: flex;
	flex-direction: column;
	margin: .6em;
	justify-content: center;
	text-align: center;
	align-self: stretch;
}

#review-form .tags .icon {
	font-size: 50px;
}

#review-form .tags label {
	padding: 1em;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	background: rgba(50, 50, 80, .5);
	cursor: pointer;
	border: 2px solid transparent;
	height: 100%;
}

#review-form .tags input:checked + label {
	border-color: lightgreen;
}

#review-form .tags input {
	display: none;
}
