{% extends "base.html" %}

{% block content %}

<div class="page" id="faq-page">
	<h1>Frequently Anticipated Questions</h1>

	<div class="entries">
		<div class="entry">
			<div class="question">My preferred platform is not listed, why?</div>
			<p>
				To avoid unecessarily cluttering the website, we list platforms up to
				the PS3 / Xbox 360 / Wii era, as those were the first generation of
				consoles to make use of online features for a lot of games. Internet
				connectivity might have existed in older games but microtransactions
				were not really a concern yet.
			</p>
		</div>
	</div>

</div>

{% endblock %}
