{% extends "base.html" %}

{% block content %}
<div class="page" id="game-entry">
	<h1 class="title">
		{{ entry.name }}
		{% if entry.subtitle %}
		<small class="subtitle">{{ entry.subtitle }}</small>
		{% endif %}
	</h1>

	<div class="content">
		<img class="art" src="{{ entry.cover_url }}">

		<div class="side">
			<div>
				<div class="rating {{ entry.rating }}">{{ entry.rating }}</div>

				{% include "_entry_tags.html" %}

				<div class="summary">
					{{ entry.summary }}
				</div>

				<div class="genres">
					<h3>Genres</h3>
					{{ entry.genres|join(', ') }}
				</div>

				{% include "_entry_platforms.html" %}
			</div>

			<div>
				{% if entry.official_url %}
				<a class="button" href="{{ entry.official_url }}">Official website</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="page" id="reviews">
	<p>Reviews</p>
	<p><a class="button" href="{{ '/games/' + entry.slug + '/review' }}">Add review</a></p>

	{% for review in entry.reviews %}
	<div class="review">
		<div class="meta">
			<div class="profile">
				<img class="avatar" src="{{ review.author.avatar_url }}">
				<div class="username">{{ review.author.username }}</div>
			</div>
			<time title="{{ review.time }}">{{ review.time }}</time>
		</div>

		<div class="content">
			<div class="comment">
				{{ review.comment }}
			</div>
			{% with entry = review %}
			{% include "_entry_tags.html" %}
			{% endwith %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
