{% extends "base.html" %}

{% block content %}
<div class="page" id="game-entry">
	<h1 class="title">
		{{ entry.name }}
		{% if entry.subtitle %}
		<small class="subtitle">{{ entry.subtitle }}</small>
		{% endif %}
	</h1>

	<div class="content">
		<img class="art" src="{{ entry.cover_url }}">

		<div class="side">
			<div class="rating {{ entry.rating }}">{{ entry.rating }}</div>

			{% include "_entry_tags.html" %}

			<div class="summary">
				{{ entry.summary }}
			</div>

			{% if entry.genres %}
			<div class="genres">
				<h3>Genres</h3>
				{{ entry.genres|join(', ') }}
			</div>
			{% endif %}

			{% include "_entry_platforms.html" %}

		<div>
			{% if entry.official_url %}
			<a class="button" href="{{ entry.official_url }}">Official website</a>
			{% endif %}
			{% if entry.is_slug_from_igdb %}
			<a class="button" href="https://www.igdb.com/games/{{ entry.slug }}">IGDB entry</a>
			{% endif %}
		</div>

		</div>

	</div>
</div>

<div class="page" id="reviews">
	<p>Reviews</p>
	<p><a class="button" href="{{ '/games/' + entry.slug + '/review' }}">Add review</a></p>

	{% for review in entry.reviews %}
	<div class="review">
		<img class="avatar" src="{{ review.author.avatar_url }}">
		<div class="meta">
			<div class="username">{{ review.author.username }}</div>
			<time title="{{ review.time }}" data-date-fmt="relative">{{ review.time }}</time>
		</div>

		<div class="content">
			<div class="comment">
				{{ review.comment }}
			</div>
			{% with entry = review %}
			{% include "_entry_tags.html" %}
			{% endwith %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
