{% extends "base.html" %}

{% block content %}
<div class="page" id="game-entry">
	<h1 class="title">
		{{ entry.name }}
		{% if entry.subtitle %}
		<small class="subtitle">{{ entry.subtitle }}</small>
		{% endif %}
	</h1>

	<div class="content">
		<img class="art" src="{{ entry.cover_url }}">

		<div class="side">
			<div class="rating {{ entry.rating }}">{{ entry.rating }}</div>

			{% include "_entry_tags_full.html" %}

		</div>

	</div>

	<div class="extra-info">

		<div class="summary">
			{{ entry.summary }}
		</div>

		{% if entry.genres %}
		<div class="genres">
			<h3>Genres</h3>
			{{ entry.genres|join(', ') }}
		</div>
		{% endif %}

		{% include "_entry_platforms.html" %}

		<div>
			{% if entry.official_url %}
			<a class="button" href="{{ entry.official_url }}">Official website</a>
			{% endif %}
			{% if entry.is_slug_from_igdb %}
			<a class="button" href="https://www.igdb.com/games/{{ entry.slug }}">IGDB entry</a>
			{% endif %}
		</div>

	</div>

</div>

{% if current_user.is_admin %}
<div class="page spaced admin-only">
	<h2>Admin zone</h2>
	<p>IGDB score: {{ entry.igdb_score }}</p>
	<p>Views: {{ entry.views }}</p>
	<p>Is IGDB slug: {{ entry.is_slug_from_igdb }}</p>
	<p>Score: {{ entry.score }}</p>
	<p>
		Created: <span data-date-fmt="relative">{{ entry.created_at }}</span>
		| Updated: <span data-date-fmt="relative">{{ entry.updated_at }}</span>
	</p>
	<p>
		<a class="button admin" href="/games/{{ entry.slug }}/delete">Delete</a>
	</p>
</div>
{% endif %}

<div class="page" id="reviews">
	<p>Reviews</p>
	<p><a class="button" href="{{ '/games/' + entry.slug + '/review' }}">Add review</a></p>

	{% for review in entry.reviews %}
	<div class="review">
		<img class="avatar" src="{{ review.author.avatar_url }}">
		<div class="meta">
			<div class="username">{{ review.author.username }}</div>
			<time title="{{ review.created_at }}" data-date-fmt="relative">{{ review.created_at }}</time>
		</div>

		<div class="content">
			<div class="comment">
				{{ review.comment }}
			</div>
			{% with entry = review %}
			{% include "_entry_tags.html" %}
			{% endwith %}
		</div>
		{% if current_user.is_admin %}
		<div>
			<a class="button admin" href="/games/{{ entry.slug }}/reviews/{{ review.id }}/delete">Delete</a>
		</div>
		{% endif %}
	</div>
	{% endfor %}
</div>

{% endblock %}
