{% extends "base.html" %}

{% set hide_search = true %}

{% block content %}
<div id="main-search" class="page">
	<p>Search games</p>
	<input placeholder="type a game name here...">
	<a class="button" id="main-add" href="/add">Add a game</a>
</div>

<p style="text-align: center">Browse games</p>
<p class="page">Sort | Filter</p>
<div id="game-entries" class="page">
	{% for entry in entries %}
	{% set url = '/games/' + entry.slug %}
	<div class="entry">

		<div class="rating {{ entry.rating }}">{{ entry.rating }}</div>

		<img class="art" src="{{ entry.cover_url }}">

		<div class="side">

			<div class="content">
				<a class="title" href="{{ url }}">
					{{ entry.name }}
					<div class="subtitle">
						{{ entry.subtitle or '' }}
					</div>
				</a>

				{% include "_entry_tags.html" %}

			</div>

			<div>
				<a class="button" href="/games/{{ entry.slug }}">See details</a>
				{% if entry.official_url %}
				<a class="button" href="{{ entry.official_url }}">Official website</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
